// Originally from Tundra Exploration, all credits to them

@PART[SEP_23_SHIP_BODY|SEP_23_SHIP_TANKER|SEP_23_SHIP_CARGO|SEP_23_SHIP_CREW|SEP_22_BOOSTER_CORE|SEP_23_SHIP_BODY_EXP|SEP_23_SHIP_NOSE_EXP|SEP_23_SHIP_DEPOT|SEP_23_SHIP_CARGO_EXP|SEP_23_BOOSTER_INTEGRATED]:NEEDS[CommunityResourcePack,!RealFuels]:FOR[StarshipExpansionProject]
{
	MODULE
	{
		name = ModuleB9PartSwitch
		moduleID = SEPRCSSwitch
		switcherDescription = RCS Fuel Mix
		switcherDescriptionPlural = RCS Fuel Mixes
		switchInFlight = True
		SUBTYPE
		{
			name = LFO
			title = LF + OX
			primaryColor = ResourceColorLiquidFuel
			secondaryColor = ResourceColorOxidizer
			defaultSubtypePriority = 1
			descriptionDetail = Uses LiquidFuel and Oxidizer.<br><b>Isp:</b> 140 / 260s.
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleRCSFX
				}
				DATA
				{
					resourceName = LiquidFuel
					PROPELLANT
					{
						name = LiquidFuel
						ratio = 0.45
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 0.55
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
					atmosphereCurve
					{
						key = 0 260
						key = 1 140
						key = 5 0.001
					}
				}
			}
		}
		SUBTYPE
		{
			name = LCH4OX
			title = LCH4 + OX
			primaryColor = ResourceColorLqdMethane
			secondaryColor = ResourceColorOxidizer
			descriptionDetail = Uses LqdMethane and Oxidizer.<br><b>Isp:</b> <color="yellow">170 / 300</color>s.
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleRCSFX
				}
				DATA
				{
					thrusterPower = 24
					resourceName = LqdMethane
					PROPELLANT
					{
						name = LqdMethane
						ratio = 3
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 1
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
					atmosphereCurve
					{
						key = 0 300
						key = 1 170
						key = 5 0.001
					}
				}
			}
		}
	}
}

@PART[SEP_23_SHIP_BODY|SEP_23_SHIP_TANKER|SEP_23_SHIP_CARGO|SEP_23_SHIP_CREW|SEP_22_BOOSTER_CORE|SEP_23_SHIP_BODY_EXP|SEP_23_SHIP_DEPOT|SEP_23_BOOSTER_INTEGRATED]:NEEDS[CommunityResourcePack,!RealFuels]:FOR[StarshipExpansionProject]
{
	MODULE
	{
		name = ModuleB9PartSwitch
		moduleID = SEPVentSwtich
		switcherDescription = Vent Fuel Mix
		switcherDescriptionPlural = Vent Fuel Mixes
		switchInFlight = True
		SUBTYPE
		{
			name = LFO
			title = LF + OX
			primaryColor = ResourceColorLiquidFuel
			secondaryColor = ResourceColorOxidizer
			defaultSubtypePriority = 1
			descriptionDetail = Vents LiquidFuel and Oxidizer
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
					thrustVectorTransformName = VentTransform
				}
				DATA
				{
					resourceName = LiquidFuel
					PROPELLANT
					{
						name = LiquidFuel
						ratio = 0.45
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 0.55
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
				}
			}
		}
		SUBTYPE
		{
			name = LCH4OX
			title = LCH4 + OX
			primaryColor = ResourceColorLqdMethane
			secondaryColor = ResourceColorOxidizer
			descriptionDetail = Vents LqdMethane and Oxidizer
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
					thrustVectorTransformName = VentTransform
				}
				DATA
				{
					resourceName = LqdMethane
					PROPELLANT
					{
						name = LqdMethane
						ratio = 3
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 1
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
				}
			}
		}
		SUBTYPE
		{
			name = LF
			title = LF
			primaryColor = ResourceColorLiquidFuel
			secondaryColor = ResourceColorLiquidFuel
			
			descriptionDetail = Vents LiquidFuel
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
					thrustVectorTransformName = VentTransform
				}
				DATA
				{
					resourceName = LiquidFuel
					PROPELLANT
					{
						name = LiquidFuel
						ratio = 1
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
				}
			}
		}
		SUBTYPE
		{
			name = LCH4
			title = LCH4
			primaryColor = ResourceColorLqdMethane
			secondaryColor = ResourceColorLqdMethane
			descriptionDetail = Vents LqdMethane
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
					thrustVectorTransformName = VentTransform
				}
				DATA
				{
					resourceName = LqdMethane
					PROPELLANT
					{
						name = LqdMethane
						ratio = 1
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
				}
			}
		}
		SUBTYPE
		{
			name = OX
			title = OX
			primaryColor = ResourceColorOxidizer
			secondaryColor = ResourceColorOxidizer
			descriptionDetail = Vents Oxidizer
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
					thrustVectorTransformName = VentTransform
				}
				DATA
				{
					resourceName = Oxidizer
					PROPELLANT
					{
						name = Oxidizer
						ratio = 1
						resourceFlowMode = STAGE_PRIORITY_FLOW
					}
				}
			}
		}
	}
}

// SuperHeavy Booster
@PART[SEP_22_BOOSTER_CLUSTER]:NEEDS[CommunityResourcePack,!RealFuels]:FOR[StarshipExpansionProject]
{
	@description ^= :$: <br><color="green">Engine accepts different fuels.</color>
	MODULE
	{
		name = ModuleB9PartSwitch
		moduleID = SEPEngineSwitch
		switcherDescription = Engine Fuel Mix
		switcherDescriptionPlural = Engine Fuel Mixes
		switchInFlight = False
		SUBTYPE
		{
			name = LFO
			title = LF + OX
			primaryColor = ResourceColorLiquidFuel
			secondaryColor = ResourceColorOxidizer
			defaultSubtypePriority = 1
			descriptionSummary = Uses LiquidFuel + Oxidizer
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleSEPEngineGUI
				}
				DATA
				{
					SingleEngineThrust = 580
				}
			}
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
					engineID = AllEngines
				}
				DATA
				{
					PROPELLANT
					{
						name = LiquidFuel
						ratio = 0.45
						DrawGauge = True
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 0.55
						DrawGauge = False
					}
					#/MODULE[ModuleEnginesFX],0/atmosphereCurve {}
				}
			}
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
					engineID = MiddleInner
				}
				DATA
				{
					PROPELLANT
					{
						name = LiquidFuel
						ratio = 0.45
						DrawGauge = True
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 0.55
						DrawGauge = False
					}
					#/MODULE[ModuleEnginesFX],0/atmosphereCurve {}
				}
			}
			MODULE:NEEDS[TundraExploration]
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
					engineID = CenterThree
				}
				DATA
				{
					PROPELLANT
					{
						name = LiquidFuel
						ratio = 0.45
						DrawGauge = True
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 0.55
						DrawGauge = False
					}
					#/MODULE[ModuleEnginesFX],0/atmosphereCurve {}
				}
			}
		}
		SUBTYPE
		{
			name = LCH4OX
			title = LCH4 + OX
			primaryColor = ResourceColorLqdMethane
			secondaryColor = ResourceColorOxidizer
			descriptionSummary = Uses LqdMethane + Oxidizer

			MODULE
			{
				IDENTIFIER
				{
					name = ModuleSEPEngineGUI
				}
				DATA
				{
					SingleEngineThrust = 435
				}
			}
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
					engineID = AllEngines
				}
				DATA
				{
					PROPELLANT
					{
						name = LqdMethane
						ratio = 3
						DrawGauge = True
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 1
						DrawGauge = False
					}
					atmosphereCurve
					{
						key = 0 342
						key = 1 332
						key = 4 290
						key = 12 100
					}
				}
			}
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
					engineID = MiddleInner
				}
				DATA
				{
					PROPELLANT
					{
						name = LqdMethane
						ratio = 3
						DrawGauge = True
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 1
						DrawGauge = False
					}
					atmosphereCurve
					{
						key = 0 342
						key = 1 332
						key = 4 290
						key = 12 100
					}
				}
			}
			
			MODULE:NEEDS[TundraExploration]
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
					engineID = CenterThree
				}
				DATA
				{
					PROPELLANT
					{
						name = LqdMethane
						ratio = 3
						DrawGauge = True
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 1
						DrawGauge = False
					}
					atmosphereCurve
					{
						key = 0 342
						key = 1 332
						key = 4 290
						key = 12 100
					}
				}
			}
		}
	}
}

@PART[SEP_22_RAPTOR2_SL_RC|SEP_22_RAPTOR2_SL_RB]:NEEDS[CommunityResourcePack,!RealFuels]:FOR[StarshipExpansionProject]
{
	MODULE
	{
		name = ModuleB9PartSwitch
		moduleID = SEPFuelSwitch
		switcherDescription = Engine Fuel Mix
		switchInFlight = False
		SUBTYPE
		{
			name = LFO
			title = LF + OX
			primaryColor = ResourceColorLiquidFuel
			secondaryColor = ResourceColorOxidizer
			defaultSubtypePriority = 1
			descriptionDetail = Uses LiquidFuel and Oxidizer
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
				}
				DATA
				{
					maxThrust = 580
					resourceName = LiquidFuel
					PROPELLANT
					{
						name = LiquidFuel
						ratio = 0.9
						DrawGauge = True
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 1.1
					}
					atmosphereCurve
					{
						key = 0 318
						key = 1 309
						key = 4 265
						key = 12 100
					}
				
				}
			}
		}
		SUBTYPE
		{
			name = LCH4OX
			title = LCH4 + OX
			primaryColor = ResourceColorLqdMethane
			secondaryColor = ResourceColorOxidizer
			descriptionDetail = Uses LqdMethane and Oxidizer
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
				}
				DATA
				{
					maxThrust = 435
					resourceName = LqdMethane
					PROPELLANT
					{
						name = LqdMethane
						ratio = 3
						DrawGauge = True
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 1
					}
					atmosphereCurve
					{
						key = 0 342
						key = 1 332
						key = 4 290
						key = 12 100
					}
				}
			}
		}
	}
}

@PART[SEP_22_RAPTOR_VAC]:NEEDS[CommunityResourcePack,!RealFuels]:FOR[StarshipExpansionProject]
{
	MODULE
	{
		name = ModuleB9PartSwitch
		moduleID = SEPFuelSwitch
		switcherDescription = Engine Fuel Mix
		switchInFlight = False
		SUBTYPE
		{
			name = LFO
			title = LF + OX
			primaryColor = ResourceColorLiquidFuel
			secondaryColor = ResourceColorOxidizer
			defaultSubtypePriority = 1
			descriptionDetail = Uses LiquidFuel and Oxidizer
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
				}
				DATA
				{
					maxThrust = 580
					resourceName = LiquidFuel
					PROPELLANT
					{
						name = LiquidFuel
						ratio = 0.9
						DrawGauge = True
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 1.1
					}
					atmosphereCurve
					{
						key = 0 357
						key = 1 125
						key = 4 18
						key = 12 8
					}
				
				}
			}
		}
		SUBTYPE
		{
			name = LCH4OX
			title = LCH4 + OX
			primaryColor = ResourceColorLqdMethane
			secondaryColor = ResourceColorOxidizer
			descriptionDetail = Uses LqdMethane and Oxidizer
			MODULE
			{
				IDENTIFIER
				{
					name = ModuleEnginesFX
				}
				DATA
				{
					maxThrust = 435
					resourceName = LqdMethane
					PROPELLANT
					{
						name = LqdMethane
						ratio = 3
						DrawGauge = True
					}
					PROPELLANT
					{
						name = Oxidizer
						ratio = 1
					}
					atmosphereCurve
					{
						key = 0 378
						key = 1 150
						key = 4 18
						key = 12 8
					}
				}
			}
		}
	}
}